html {
  height: 100%;
}

body {
  background: black;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  height: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: white;
  &:hover {
    color: white;
  }
  &:active {
    color: white;
  }
  &:focus {
    color: white;
  }
}

#app {
  height: 100%;
  overflow: auto;
}

.page {
  padding: 10px;
  width: 100%;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 18px;
    cursor: pointer;
    transition: opacity 250ms ease;
    img {
      width: 12px;
      height: auto;
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (min-width: 480px) {
  .page {
    padding: 20px;
  }
}

@media screen and (min-width: 1180px) {
  .page {
    max-width: 1110px;
    margin: 0 auto;
  }
}