html {
  height: 100%;
  overflow: auto;
  background: black;
}

body {
  background: black;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: white;
  &:hover {
    color: white;
  }
  &:active {
    color: white;
  }
  &:focus {
    color: white;
  }
}

#app {
}

.page {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100% - 30px);

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 12px;
    cursor: pointer;
    transition: opacity 250ms ease;
    background: #000000;
    img {
      width: 16px;
      height: auto;
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 12px;
    cursor: pointer;
    transition: opacity 250ms ease;
    img {
      width: 50px;
      height: auto;
      display: block;
    }
  }

  &__content {
    max-width: 700px;
    margin: 0 auto;
    h1 {
      margin-top: 34px;
      margin-bottom: 12px;
    }
  }

  &--static {
    text-align: justify;
    .list-cap {
      margin-bottom: 4px;
    }
    h1, h2, h3 {
      text-transform: uppercase;
      font-weight: 600;
    }
    h2 {
      margin-top: 48px;
      margin-bottom: 12px;
    }
    h3 {
      font-size: 16px;
      margin-top: 24px;
      margin-bottom: 12px;
      background: white;
      color: black;
      display: inline-block;
      padding: 2px 6px;
    }
    a {
      color: #e50047;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      padding-left: 24px;
      margin-bottom: 24px;
      ul {
        margin-bottom: 0;
      }
      li {
        list-style: disc;
      }
    }
    ol {
      li {
        padding-left: 2px;
        list-style: decimal;
      }
    }
    table {
      margin-bottom: 24px;
    }
    blockquote {
      padding: 0 20px;
      font-style: italic;
      p {
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (min-width: 780px) {
  .page {
    &__content {
      h1 {
        margin-top: 100px;
      }
    }
  }
}

@media screen and (min-width: 1180px) {
  .page {
    max-width: 1110px;
    margin: 0 auto;
    &__close {
      padding: 20px;
      img {
        width: 20px;
      }
    }
    &__logo {
      padding: 20px;
      img {
        width: 70px;
      }
    }
  }
}